# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
site/node_modules
site/.pnp
site/.pnp.js

# testing
site/coverage

# production
site/build

# misc
site/.DS_Store
site/.env.local
site/.env.development.local
site/.env.test.local
site/.env.production.local

site/npm-debug.log*
site/yarn-debug.log*
site/yarn-error.log*

# model
model/.ipynb_checkpoints
.DS_Store

model/runs
model/yolov5x6.pt
model/yolov5/yolov5s.pt
model/__pycache__/trees.cpython-312.pyc
model/__pycache__/nearbyPollution.cpython-312.pyc
model/__pycache__/extractGeolocation.cpython-312.pyc
model/__pycache__/extractGeolocation.cpython-312.pyc
model/yolov5s.pt