.App {
  height: 100%;
}

main {
  max-width: 40rem;
  padding: 4rem 0rem;
  margin: 0 auto;
  text-align: left;
  height: calc(100% - 8rem);
}

.uploadImages {
  width: 100%;
  text-align: left;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  text-transform: none;
  padding: 2rem;
}